<%- include('../partials/header.ejs') %>


<div class="container pt-5 text-center mt-5">
    <h1 class="text-light"><%= titulo%>  <%= fecha%></h1>
    <div class="table-responsive col-lg-9 col-sm-12 col-12 m-auto ">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>N Venta</th>
                    <th>Venta Fecha</th>
                    <th>Estado de Venta</th>
                    <th>Tipo de Venta</th>
                    <th>Total Venta</th>
                    <th>Detalle</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <% if(ventas){
                    for(var i=0 ; i < ventas.length ; i++){ %>
                        <tr>                      
                            <th><%= ventas[i].venta_nro %></th>
                            <th><%= ventas[i].fechaTotal %></th>
                            <th><%= ventas[i].estadoVenta_id %></th>
                            <th><%= ventas[i].tipoVenta_id %></th>
                            <th><%= ventas[i].venta_montoTotal %></th>
                            <th><a href="/reportesMultiples/DetalleVenta/<%= url %>/<%= fecha %>/<%= ventas[i].venta_id %>"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ticket-detailed-fill text-light" viewBox="0 0 16 16">
                                <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6zm4 1a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5m0 5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5M4 8a1 1 0 0 0 1 1h6a1 1 0 1 0 0-2H5a1 1 0 0 0-1 1"/>
                              </svg></a></th>
                        </tr>
                    <% }
                } %>
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>TOTAL </th>
                    <th>$<%= totalVentas %></th>
                </tr>
            </tfoot>
          </table>   
    </div>
    <div>
            <a href="/reportesMultiples" class="btn btn-danger mb-3">Volver</a>
    </div>
</div>